.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.custom-card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-title {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-description {
    color: #555;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines before ellipsis */
    -webkit-box-orient: vertical;
}

.card-text {
    margin-bottom: 0.5rem;
}

.btn-primary {
    background-color: #2874f0;
    border-color: #2874f0;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}
